@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@900&family=Roboto+Mono:wght@200;300&display=swap');

/* Global */
* {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: black;
}

.name {
  width: 30%;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: "M PLUS 1", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  width: 70%;
  text-align: center;
  color: white;
  font-family: "M PLUS 1", sans-serif;

}

.nav a {
  color: white;
  text-decoration: none;  
}

.home {
  padding-top: 100px;
  height: 100vh;
}
.welcome {
  height: 170px;
  width: 100%;
  background-color: white;
}
.welcome h1 {
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 50px 106px;
}
.info {
  height: 200px;
  width: 100%;
  background-color: white;
}
.info p {
  font-family: "M PLUS 1", sans-serif;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: large;
  padding-left: 150px;
  padding-right: 150px;
}
.resume {
  height: 200px;
  width: 100%;
  font-family: "M PLUS 1", sans-serif;
  background-color: white;
  text-align: center;
}
.resume a button:hover {
  cursor: pointer;
}
.resume a button {
  background-color: black;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: "M PLUS 1", sans-serif;
  padding: 15px 40px;
  font-size: large;
}
#skills {
  padding-top: 100px;
  height: 100vh;
}
.skill {
  width: 100%;
  height: 100px;
}
.skill h1 {
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 50px 106px;
}
.logos {
  display: flex;
  gap: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logos2 {
  display: flex;
  gap: 100px;
  padding-top: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 5rem;
}
.sql {
  width: 5rem;
}
#projects {
  padding-top: 100px;
  height: 100vh;
}
.projects div {
  width: 100%;
  height: 150px;
}
.projects div h1 {
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 50px 106px;
}
.project {
  width: 100%;
  text-align: left;
  font-family: "M PLUS 1", sans-serif;
}
.aboutproject {
  font-family: "M PLUS 1", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding-top: 10px;
  padding-left: 106px;
  padding-right: 150px;
  padding-top: 10px;
  text-align: left;
}

.project h3 {
  padding-top: 30px;
  padding: 10px 106px;
}

#contact {
  padding-top: 100px;
  height: 100vh;
}

.contact div h1 {
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 50px 106px;
}
.social {
  display: flex;
  gap: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.foot footer {
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 50px 106px;
}

@media screen and (max-width: 640px) {
  .name {
    font-size: 1rem;
  }

  .nav {
    gap: 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .name {
    font-size: 1rem;
  }

  .nav {
    gap: 0.7rem;
    font-size: 0.9rem;
  }
  
  .welcome h1 {
    padding: 50px 10px;
  }
  .info p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .resume {
  padding-top: 100px;
  }

  .logos2{
    gap: 50px;
    padding-top: 50px;
  }
  .icon {
    font-size: 3rem;
  }
  .sql {
    width: 3rem;
  }
  .project {
    padding: 1px 1px;
    padding-bottom:10px ;
  }
  .aboutproject {
    padding-left: 15px;
    padding-right: 50px;
    font-size: small;
  }
  .project h3 {
    padding-left: 10px;
    font-size: 15px;
  }
  .social{
    padding-top: 100px;
  }
}
@media screen and (max-width: 375px){
  .name {
    font-size: 0.9rem;
  }
  .nav {
    gap: 0.5rem;
    font-size: 0.9rem;
  }
  .info p {
    padding-left: 8px;
    padding-right: 8px;
  }
  .resume{
    padding-top: 140px;
  }
  .logos2 {
    gap: 50px;
    padding-top: 50px;
  }
  .icon {
    font-size: 2rem;
  }
  .sql {
    width: 2rem;
  }
  .social{
    padding-top: 100px;
  }
  
}

